html,
body {
  height: 100%;
  width: 100%;
  min-height: 100%;
}
body {
  font-size: 100%;
  margin: 0;
  text-align: center;
  min-width: 832px;
  background: #f5f5f5;
  font-family: sans-serif;
}
body:before {
  content: '';
  width: 0;
  font-size: 0;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
h1 {
  position: absolute;
  bottom: 0;
  display: block;
  right: 0;
  padding: 15px;
  margin: 0;
  font-weight: normal;
  font-size: 2.5em;
}
h1 small {
  font-size: 0.7em;
  color: #888;
}
h1 span {
  position: absolute;
  padding: 0;
  margin: 0;
  font-size: .3em;
  bottom: 5px;
  right: 0;
  padding-right: 10px;
  color: #888;
}
#diorama {
  width: 640px;
  height: 384px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  transform: rotateX(60deg) rotateZ(-28deg);
  -webkit-transform: rotateX(60deg) rotateZ(-28deg);
  -moz-transform: rotateX(60deg) rotateZ(-28deg);
  -ms-transform: rotateX(60deg) rotateZ(-28deg);
  -o-transform: rotateX(60deg) rotateZ(-28deg);
}
#diorama,
.layer {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
}
#diorama.guide {
  background: linear-gradient(left, rgba(0, 0, 0, 0.1) 1.5%, transparent 1.5%, transparent 98.5%, rgba(0, 0, 0, 0.1) 98.5%), linear-gradient(rgba(0, 0, 0, 0.1) 1.5%, transparent 1.5%, transparent 98.5%, rgba(0, 0, 0, 0.1) 98.5%);
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.1) 1.5%, transparent 1.5%, transparent 98.5%, rgba(0, 0, 0, 0.1) 98.5%), -webkit-linear-gradient(rgba(0, 0, 0, 0.1) 1.5%, transparent 1.5%, transparent 98.5%, rgba(0, 0, 0, 0.1) 98.5%);
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.1) 1.5%, transparent 1.5%, transparent 98.5%, rgba(0, 0, 0, 0.1) 98.5%), -moz-linear-gradient(rgba(0, 0, 0, 0.1) 1.5%, transparent 1.5%, transparent 98.5%, rgba(0, 0, 0, 0.1) 98.5%);
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.1) 1.5%, transparent 1.5%, transparent 98.5%, rgba(0, 0, 0, 0.1) 98.5%), -o-linear-gradient(rgba(0, 0, 0, 0.1) 1.5%, transparent 1.5%, transparent 98.5%, rgba(0, 0, 0, 0.1) 98.5%);
  background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.1) 1.5%, transparent 1.5%, transparent 98.5%, rgba(0, 0, 0, 0.1) 98.5%), -ms-linear-gradient(rgba(0, 0, 0, 0.1) 1.5%, transparent 1.5%, transparent 98.5%, rgba(0, 0, 0, 0.1) 98.5%);
  background-size: 64px 64px;
}
.row {
  height: 64px;
  clear: both;
}
.layer {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: left;
  margin: 0 auto;
}
.layer:nth-child(1) {
  -webkit-transform: translateZ(128px);
  -moz-transform: translateZ(128px);
}
.layer:nth-child(2) {
  -webkit-transform: translateZ(64px);
  -moz-transform: translateZ(64px);
}
.layer:nth-child(3),
.layer.base {
  -webkit-transform: translateZ(0px);
  -moz-transform: translateZ(0px);
}
.layer:nth-child(4) {
  -webkit-transform: translateZ(-64px);
  -moz-transform: translateZ(-64px);
}
.layer:nth-child(5) {
  -webkit-transform: translateZ(-128px);
  -moz-transform: translateZ(-128px);
}
.block,
.block:after,
.block:before,
.entity,
.entity:after,
.entity:before {
  float: left;
  background: #c6c6c6;
}
.block:after,
.block:before,
.entity:after,
.entity:before {
  display: block;
  content: '';
  position: absolute;
  height: 64px;
  width: 65px;
}
.block,
.entity {
  position: relative;
  height: 64px;
  width: 64px;
  transform: rotateY(-90deg) translateX(100%) rotateY(90deg);
  -webkit-transform: rotateY(-90deg) translateX(100%) rotateY(90deg);
  -moz-transform: rotateY(-90deg) translateX(100%) rotateY(90deg);
  -ms-transform: rotateY(-90deg) translateX(100%) rotateY(90deg);
  -o-transform: rotateY(-90deg) translateX(100%) rotateY(90deg);
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
}
.block:after,
.entity:after {
  transform: rotateX(-90deg) translateY(100%);
  -webkit-transform: rotateX(-90deg) translateY(100%);
  -moz-transform: rotateX(-90deg) translateY(100%);
  -ms-transform: rotateX(-90deg) translateY(100%);
  -o-transform: rotateX(-90deg) translateY(100%);
  transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.4);
  -mox-box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.4);
  -o-box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.4);
}
.block:before,
.entity:before {
  transform: rotateX(-90deg) rotateY(90deg) translateX(-100%);
  -webkit-transform: rotateX(-90deg) rotateY(90deg) translateX(-100%);
  -moz-transform: rotateX(-90deg) rotateY(90deg) translateX(-100%);
  -ms-transform: rotateX(-90deg) rotateY(90deg) translateX(-100%);
  -o-transform: rotateX(-90deg) rotateY(90deg) translateX(-100%);
  transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.2);
  -mox-box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.2);
  -o-box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.2);
}
.block.shadow {
  box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.15);
  -mox-box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.15);
  -o-box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.15);
}
.block.pos-0 {
  position: absolute;
  left: 0px;
}
.block.pos-1 {
  position: absolute;
  left: 64px;
}
.block.pos-2 {
  position: absolute;
  left: 128px;
}
.block.pos-3 {
  position: absolute;
  left: 192px;
}
.block.pos-4 {
  position: absolute;
  left: 256px;
}
.block.pos-5 {
  position: absolute;
  left: 320px;
}
.block.pos-6 {
  position: absolute;
  left: 384px;
}
.block.pos-7 {
  position: absolute;
  left: 448px;
}
.block.pos-8 {
  position: absolute;
  left: 512px;
}
.block.pos-9 {
  position: absolute;
  left: 576px;
}
.block.pos-10 {
  position: absolute;
  left: 640px;
}
.entity,
.entity:before,
.entity:after {
  width: 32px;
  background: #c6c6c6;
}
.entity:before {
  transform: rotateX(0deg) rotateY(90deg) translateX(-50%) translateZ(32px);
  -webkit-transform: rotateX(0deg) rotateY(90deg) translateX(-50%) translateZ(32px);
  -moz-transform: rotateX(0deg) rotateY(90deg) translateX(-50%) translateZ(32px);
  -ms-transform: rotateX(0deg) rotateY(90deg) translateX(-50%) translateZ(32px);
  -o-transform: rotateX(0deg) rotateY(90deg) translateX(-50%) translateZ(32px);
  width: 64px;
}
.entity:after {
  transform: translateX(32px);
  -webkit-transform: translateX(32px);
  -moz-transform: translateX(32px);
  -ms-transform: translateX(32px);
  -o-transform: translateX(32px);
}
.entity {
  transform: rotateZ(180deg) translateZ(32px) rotateX(-90deg) translateX(-32px);
  -webkit-transform: rotateZ(180deg) translateZ(32px) rotateX(-90deg) translateX(-32px);
  -moz-transform: rotateZ(180deg) translateZ(32px) rotateX(-90deg) translateX(-32px);
  -ms-transform: rotateZ(180deg) translateZ(32px) rotateX(-90deg) translateX(-32px);
  -o-transform: rotateZ(180deg) translateZ(32px) rotateX(-90deg) translateX(-32px);
  box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.4);
  -mox-box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.4);
  -o-box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.4);
}
