html,
body {
  height: 100%;
  width: 100%;
  min-height: 100%;
}
body {
  font-size: 100%;
  margin: 0;
  text-align: center;
  min-width: 832px;
  background: #f5f5f5;
  font-family: sans-serif;
}
body:before {
  content: '';
  width: 0;
  font-size: 0;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
h1 {
  position: absolute;
  bottom: 0;
  display: block;
  right: 0;
  padding: 15px;
  margin: 0;
  font-weight: normal;
  font-size: 2.5em;
}
h1 small {
  font-size: 0.7em;
  color: #888;
}
h1 span {
  position: absolute;
  padding: 0;
  margin: 0;
  font-size: .3em;
  bottom: 5px;
  right: 0;
  padding-right: 10px;
  color: #888;
}
#diorama {
  width: 640px;
  height: 384px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  transform: rotateX(60deg) rotateZ(-28deg) translateZ(-64px);
  -webkit-transform: rotateX(60deg) rotateZ(-28deg) translateZ(-64px);
  -moz-transform: rotateX(60deg) rotateZ(-28deg) translateZ(-64px);
  -ms-transform: rotateX(60deg) rotateZ(-28deg) translateZ(-64px);
  -o-transform: rotateX(60deg) rotateZ(-28deg) translateZ(-64px);
}
#diorama,
.layer {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
}
#diorama.guide {
  background: linear-gradient(left, rgba(0, 0, 0, 0.1) 1.5%, transparent 1.5%, transparent 98.5%, rgba(0, 0, 0, 0.1) 98.5%), linear-gradient(rgba(0, 0, 0, 0.1) 1.5%, transparent 1.5%, transparent 98.5%, rgba(0, 0, 0, 0.1) 98.5%);
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.1) 1.5%, transparent 1.5%, transparent 98.5%, rgba(0, 0, 0, 0.1) 98.5%), -webkit-linear-gradient(rgba(0, 0, 0, 0.1) 1.5%, transparent 1.5%, transparent 98.5%, rgba(0, 0, 0, 0.1) 98.5%);
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.1) 1.5%, transparent 1.5%, transparent 98.5%, rgba(0, 0, 0, 0.1) 98.5%), -moz-linear-gradient(rgba(0, 0, 0, 0.1) 1.5%, transparent 1.5%, transparent 98.5%, rgba(0, 0, 0, 0.1) 98.5%);
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.1) 1.5%, transparent 1.5%, transparent 98.5%, rgba(0, 0, 0, 0.1) 98.5%), -o-linear-gradient(rgba(0, 0, 0, 0.1) 1.5%, transparent 1.5%, transparent 98.5%, rgba(0, 0, 0, 0.1) 98.5%);
  background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.1) 1.5%, transparent 1.5%, transparent 98.5%, rgba(0, 0, 0, 0.1) 98.5%), -ms-linear-gradient(rgba(0, 0, 0, 0.1) 1.5%, transparent 1.5%, transparent 98.5%, rgba(0, 0, 0, 0.1) 98.5%);
  background-size: 64px 64px;
}
.row {
  height: 64px;
  clear: both;
}
.row.pos-0 {
  position: absolute;
  top: 0px;
}
.row.pos-1 {
  position: absolute;
  top: 64px;
}
.row.pos-2 {
  position: absolute;
  top: 128px;
}
.row.pos-3 {
  position: absolute;
  top: 192px;
}
.row.pos-4 {
  position: absolute;
  top: 256px;
}
.row.pos-5 {
  position: absolute;
  top: 320px;
}
.row.pos-6 {
  position: absolute;
  top: 384px;
}
.layer {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: left;
  margin: 0 auto;
}
.layer.base {
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
}
.layer.above-1 {
  transform: translateZ(64px);
  -webkit-transform: translateZ(64px);
  -moz-transform: translateZ(64px);
  -ms-transform: translateZ(64px);
  -o-transform: translateZ(64px);
}
.layer.above-2 {
  transform: translateZ(128px);
  -webkit-transform: translateZ(128px);
  -moz-transform: translateZ(128px);
  -ms-transform: translateZ(128px);
  -o-transform: translateZ(128px);
}
.layer.above-3 {
  transform: translateZ(192px);
  -webkit-transform: translateZ(192px);
  -moz-transform: translateZ(192px);
  -ms-transform: translateZ(192px);
  -o-transform: translateZ(192px);
}
.layer.above-4 {
  transform: translateZ(256px);
  -webkit-transform: translateZ(256px);
  -moz-transform: translateZ(256px);
  -ms-transform: translateZ(256px);
  -o-transform: translateZ(256px);
}
.layer.below-1 {
  transform: translateZ(-64px);
  -webkit-transform: translateZ(-64px);
  -moz-transform: translateZ(-64px);
  -ms-transform: translateZ(-64px);
  -o-transform: translateZ(-64px);
}
.layer.below-2 {
  transform: translateZ(-128px);
  -webkit-transform: translateZ(-128px);
  -moz-transform: translateZ(-128px);
  -ms-transform: translateZ(-128px);
  -o-transform: translateZ(-128px);
}
.panel,
.block,
.block:after,
.block:before,
.entity,
.entity:after,
.entity:before {
  float: left;
  background: #c6c6c6;
}
.block:after,
.block:before,
.entity:after,
.entity:before {
  display: block;
  content: '';
  position: absolute;
  height: 64px;
  width: 64px;
}
.panel,
.block,
.entity {
  position: relative;
  height: 64px;
  width: 64px;
  transform: rotateY(-90deg) translateX(100%) rotateY(90deg);
  -webkit-transform: rotateY(-90deg) translateX(100%) rotateY(90deg);
  -moz-transform: rotateY(-90deg) translateX(100%) rotateY(90deg);
  -ms-transform: rotateY(-90deg) translateX(100%) rotateY(90deg);
  -o-transform: rotateY(-90deg) translateX(100%) rotateY(90deg);
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
}
.block:after,
.entity:after {
  width: 65px;
  transform: rotateZ(90deg) translateX(100%) translateX(-1px) rotateZ(-90deg) rotateX(-90deg);
  -webkit-transform: rotateZ(90deg) translateX(100%) translateX(-1px) rotateZ(-90deg) rotateX(-90deg);
  -moz-transform: rotateZ(90deg) translateX(100%) translateX(-1px) rotateZ(-90deg) rotateX(-90deg);
  -ms-transform: rotateZ(90deg) translateX(100%) translateX(-1px) rotateZ(-90deg) rotateX(-90deg);
  -o-transform: rotateZ(90deg) translateX(100%) translateX(-1px) rotateZ(-90deg) rotateX(-90deg);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.4);
  -mox-box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.4);
  -o-box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.4);
}
.block:before,
.entity:before {
  transform: rotateX(-90deg) rotateY(90deg) translateX(-100%);
  -webkit-transform: rotateX(-90deg) rotateY(90deg) translateX(-100%);
  -moz-transform: rotateX(-90deg) rotateY(90deg) translateX(-100%);
  -ms-transform: rotateX(-90deg) rotateY(90deg) translateX(-100%);
  -o-transform: rotateX(-90deg) rotateY(90deg) translateX(-100%);
  transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.2);
  -mox-box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.2);
  -o-box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.2);
}
.panel.shadow,
.block.shadow {
  box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.15);
  -mox-box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.15);
  -o-box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.15);
}
.panel.pos-0,
.block.pos-0,
.entity.pos-0 {
  position: absolute;
  left: 0px;
}
.panel.pos-1,
.block.pos-1,
.entity.pos-1 {
  position: absolute;
  left: 64px;
}
.panel.pos-2,
.block.pos-2,
.entity.pos-2 {
  position: absolute;
  left: 128px;
}
.panel.pos-3,
.block.pos-3,
.entity.pos-3 {
  position: absolute;
  left: 192px;
}
.panel.pos-4,
.block.pos-4,
.entity.pos-4 {
  position: absolute;
  left: 256px;
}
.panel.pos-5,
.block.pos-5,
.entity.pos-5 {
  position: absolute;
  left: 320px;
}
.panel.pos-6,
.block.pos-6,
.entity.pos-6 {
  position: absolute;
  left: 384px;
}
.panel.pos-7,
.block.pos-7,
.entity.pos-7 {
  position: absolute;
  left: 448px;
}
.panel.pos-8,
.block.pos-8,
.entity.pos-8 {
  position: absolute;
  left: 512px;
}
.panel.pos-9,
.block.pos-9,
.entity.pos-9 {
  position: absolute;
  left: 576px;
}
.panel.pos-10,
.block.pos-10,
.entity.pos-10 {
  position: absolute;
  left: 640px;
}
.block:last-child:after {
  width: 100%;
}
.entity,
.entity:before,
.entity:after {
  width: 32px;
  background: #c6c6c6;
  box-shadow: none;
  -webkit-box-shadow: none;
  -mox-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
}
.entity:before {
  transform: rotateX(0deg) rotateY(90deg) translateX(-50%) translateZ(32px);
  -webkit-transform: rotateX(0deg) rotateY(90deg) translateX(-50%) translateZ(32px);
  -moz-transform: rotateX(0deg) rotateY(90deg) translateX(-50%) translateZ(32px);
  -ms-transform: rotateX(0deg) rotateY(90deg) translateX(-50%) translateZ(32px);
  -o-transform: rotateX(0deg) rotateY(90deg) translateX(-50%) translateZ(32px);
  width: 64px;
}
.entity:after {
  transform: translateX(32px);
  -webkit-transform: translateX(32px);
  -moz-transform: translateX(32px);
  -ms-transform: translateX(32px);
  -o-transform: translateX(32px);
}
.entity {
  transform: rotateZ(180deg) translateZ(32px) rotateX(-90deg) translateX(-32px);
  -webkit-transform: rotateZ(180deg) translateZ(32px) rotateX(-90deg) translateX(-32px);
  -moz-transform: rotateZ(180deg) translateZ(32px) rotateX(-90deg) translateX(-32px);
  -ms-transform: rotateZ(180deg) translateZ(32px) rotateX(-90deg) translateX(-32px);
  -o-transform: rotateZ(180deg) translateZ(32px) rotateX(-90deg) translateX(-32px);
}
.block.hide-top,
.entity.hide-right {
  background: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -mox-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
}
.entity.hide-left:before,
.entity.hide-right:after,
.block.hide-left:before,
.block.hide-right:after {
  display: none;
}
.block.half {
  transform: rotateY(-90deg) translateX(50%) rotateY(90deg);
  -webkit-transform: rotateY(-90deg) translateX(50%) rotateY(90deg);
  -moz-transform: rotateY(-90deg) translateX(50%) rotateY(90deg);
  -ms-transform: rotateY(-90deg) translateX(50%) rotateY(90deg);
  -o-transform: rotateY(-90deg) translateX(50%) rotateY(90deg);
}
.block.half:after,
.block.half:before {
  height: 32px;
}
.wall {
  height: 256px;
  width: 100%;
  float: left;
  position: absolute;
  background: white;
  transform: rotateX(-90deg) translateY(-256px);
  -webkit-transform: rotateX(-90deg) translateY(-256px);
  -moz-transform: rotateX(-90deg) translateY(-256px);
  -ms-transform: rotateX(-90deg) translateY(-256px);
  -o-transform: rotateX(-90deg) translateY(-256px);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.4);
  -mox-box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.4);
  -o-box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.4);
}
.wall.bottom {
  transform: translateY(384px) rotateX(-90deg) translateY(-256px);
  -webkit-transform: translateY(384px) rotateX(-90deg) translateY(-256px);
  -moz-transform: translateY(384px) rotateX(-90deg) translateY(-256px);
  -ms-transform: translateY(384px) rotateX(-90deg) translateY(-256px);
  -o-transform: translateY(384px) rotateX(-90deg) translateY(-256px);
}
.wall.left,
.wall.right {
  transform: translateX(-1px) rotateY(-90deg) rotateZ(90deg) translateY(-256px);
  -webkit-transform: translateX(-1px) rotateY(-90deg) rotateZ(90deg) translateY(-256px);
  -moz-transform: translateX(-1px) rotateY(-90deg) rotateZ(90deg) translateY(-256px);
  -ms-transform: translateX(-1px) rotateY(-90deg) rotateZ(90deg) translateY(-256px);
  -o-transform: translateX(-1px) rotateY(-90deg) rotateZ(90deg) translateY(-256px);
  box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.2);
  -mox-box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.2);
  -o-box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.2);
  width: 384px;
}
.wall.right {
  transform: rotateY(90deg) rotateZ(-90deg) translateX(256px);
  -webkit-transform: rotateY(90deg) rotateZ(-90deg) translateX(256px);
  -moz-transform: rotateY(90deg) rotateZ(-90deg) translateX(256px);
  -ms-transform: rotateY(90deg) rotateZ(-90deg) translateX(256px);
  -o-transform: rotateY(90deg) rotateZ(-90deg) translateX(256px);
  transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  right: 0;
}
@-webkit-keyframes squishy {
  50% {
    transform: rotateY(-90deg) translateX(57.6px) rotateY(90deg);
    -webkit-transform: rotateY(-90deg) translateX(57.6px) rotateY(90deg);
    -moz-transform: rotateY(-90deg) translateX(57.6px) rotateY(90deg);
    -ms-transform: rotateY(-90deg) translateX(57.6px) rotateY(90deg);
    -o-transform: rotateY(-90deg) translateX(57.6px) rotateY(90deg);
  }
}
@-webkit-keyframes squishy-half {
  50% {
    transform: rotateY(-90deg) translateX(28.8px) rotateY(90deg);
    -webkit-transform: rotateY(-90deg) translateX(28.8px) rotateY(90deg);
    -moz-transform: rotateY(-90deg) translateX(28.8px) rotateY(90deg);
    -ms-transform: rotateY(-90deg) translateX(28.8px) rotateY(90deg);
    -o-transform: rotateY(-90deg) translateX(28.8px) rotateY(90deg);
  }
}
.block.animate-squishy {
  animation: squishy 5s 0s ease-in-out infinite;
  -webkit-animation: squishy 5s 0s ease-in-out infinite;
  -moz-animation: squishy 5s 0s ease-in-out infinite;
  -ms-animation: squishy 5s 0s ease-in-out infinite;
  -o-animation: squishy 5s 0s ease-in-out infinite;
}
.block.half.animate-squishy {
  animation: squishy-half 5s 0s ease-in-out infinite;
  -webkit-animation: squishy-half 5s 0s ease-in-out infinite;
  -moz-animation: squishy-half 5s 0s ease-in-out infinite;
  -ms-animation: squishy-half 5s 0s ease-in-out infinite;
  -o-animation: squishy-half 5s 0s ease-in-out infinite;
}
@-webkit-keyframes squishy-right {
  50% {
    transform: rotateZ(90deg) translateX(100%) translateX(-1px) rotateZ(-90deg) rotateX(-90deg) scale(1, 0.9);
    -webkit-transform: rotateZ(90deg) translateX(100%) translateX(-1px) rotateZ(-90deg) rotateX(-90deg) scale(1, 0.9);
    -moz-transform: rotateZ(90deg) translateX(100%) translateX(-1px) rotateZ(-90deg) rotateX(-90deg) scale(1, 0.9);
    -ms-transform: rotateZ(90deg) translateX(100%) translateX(-1px) rotateZ(-90deg) rotateX(-90deg) scale(1, 0.9);
    -o-transform: rotateZ(90deg) translateX(100%) translateX(-1px) rotateZ(-90deg) rotateX(-90deg) scale(1, 0.9);
  }
}
.block.animate-squishy:after {
  animation: squishy-right 5s 0s ease-in-out infinite;
  -webkit-animation: squishy-right 5s 0s ease-in-out infinite;
  -moz-animation: squishy-right 5s 0s ease-in-out infinite;
  -ms-animation: squishy-right 5s 0s ease-in-out infinite;
  -o-animation: squishy-right 5s 0s ease-in-out infinite;
}
@-webkit-keyframes squishy-left {
  50% {
    transform: rotateX(-90deg) rotateY(90deg) translateX(-100%) scale(1, 0.9);
    -webkit-transform: rotateX(-90deg) rotateY(90deg) translateX(-100%) scale(1, 0.9);
    -moz-transform: rotateX(-90deg) rotateY(90deg) translateX(-100%) scale(1, 0.9);
    -ms-transform: rotateX(-90deg) rotateY(90deg) translateX(-100%) scale(1, 0.9);
    -o-transform: rotateX(-90deg) rotateY(90deg) translateX(-100%) scale(1, 0.9);
  }
}
.block.animate-squishy:before {
  animation: squishy-left 5s 0s ease-in-out infinite;
  -webkit-animation: squishy-left 5s 0s ease-in-out infinite;
  -moz-animation: squishy-left 5s 0s ease-in-out infinite;
  -ms-animation: squishy-left 5s 0s ease-in-out infinite;
  -o-animation: squishy-left 5s 0s ease-in-out infinite;
}
