@import 'mixin';

@pageBackground: #f5f5f5;

@dioramaGridWidth: 10;
@dioramaGridDepth: 6;
@dioramaLevelsAboveBase: 4;
@dioramaLevelsBelowBase: 2;
@dioramaLevelOffset: -1;

@defaultTopShadow: inset 0 0 0 9999px rgba(0,0,0,.15);
@defaultLeftShadow: inset 0 0 0 9999px rgba(0,0,0,.2);
@defaultRightShadow: inset 0 0 0 9999px rgba(0,0,0,.4);

@blockSize: 64px;
@blockDefaultBackground: #c6c6c6;
@blockTopShadow: @defaultTopShadow;
@blockLeftShadow: @defaultLeftShadow;
@blockRightShadow: @defaultRightShadow;

@entityDefaultBackground: #c6c6c6;

@wallDefaultBackground: white;
@wallTopShadow: @defaultTopShadow;
@wallLeftShadow: @defaultLeftShadow;
@wallRightShadow: @defaultRightShadow;
