/*
 * - Viewer
 *
 * An optional viewer class for displaying full screen dioramas
 */
html.diorama-viewer, .diorama-viewer body {
  height: 100%;
  width: 100%;
  min-height: 100%;
}

.diorama-viewer body {
  font-size: 100%;
  margin: 0;
  text-align: center;
  min-width: (@dioramaGridWidth*@blockSize) + (3*@blockSize);
  background: @pageBackground;
  font-family: sans-serif;

  &:before {
    content: '';
    width: 0;
    font-size: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }
}

.diorama-viewer h1 {
  position: absolute;
  bottom: 0;
  display: block;
  right: 0;
  padding: 15px;
  margin: 0;
  font-weight: normal;
  font-size: 2.5em;

  small {
    font-size: 0.7em;
    color: #888;
  }

  span {
    position: absolute;
    padding: 0;
    margin: 0;
    font-size: .3em;
    bottom: 5px;
    right: 0;
    padding-right: 10px;
    color: #888;
  }
}